<% if @current_user %>
 	<a href="/logout">Logout</a>
 <% else %>
 <h1 class= "section-heading" style="color:orange;font-size:500%;font-family:'Contrail One',cursive;">Login</h2>
 <form class="shopapp" method="POST" action="/login">
 	<label>Email</label><input name="email" />
 	<label>Password</label><input name="password" type="password" />
 	<input type="submit" />

  <br></br>

</form>
 <% end %>

 <html lang="en-US">
 <head>
   <meta charset="utf-8">
     <title>Login</title>

     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">

 </head>
     <div id="login">
       <form name='form-login'>
         <span class="fontawesome-user"></span>
           <input type="text" id="user" placeholder="Username">

         <span class="fontawesome-lock"></span>
           <input type="password" id"pass" placeholder="Password">

         <input type="submit" value="Login">

 </form>
