<% if @current_user %>
 	<a href="/logout">Logout</a>
 <% else %>
 <h1 class= "section-heading" style="color:orange;font-size:500%;font-family:'Contrail One',cursive;">Login</h2>
 <form class="shopapp" method="POST" action="/login">
 	<label>Email</label><input name="email" />
 	<label>Password</label><input name="password" type="password" />
 	<input type="submit" />

  <br></br>

</form>
 <% end %>
