<!-- THis is the template for the form that captures a customer’s details
for checkout -->

<div class="shop_form">
  <fieldset>
<h1 class= "section-heading" style="color:orange;font-size:500%;font-family:'Contrail One',cursive;">Please enter your details</h1>
    <%= render 'form', order: @order %>
  </fieldset>
</div>

<%= link_to 'Back', products_path %>
