<p id="notice"><%= notice %></p>
<!-- Header -->


<div class="container">
<div class="col-lg-12 text-center">
<i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i>
<h1 class= "section-heading" style="color:orange;font-size:400%;font-family:'Contrail One',cursive;">Your Orders</h1>
</div>
</div>

<!-- About -->


  <div class="timeline-panel">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
    <% @carts.each do |cart| %>
<td id = "cart_id_cell"><%= cart.id %></td>
<td><%= button_to 'View', cart, class: "style" %></td>
<td><%= button_to 'Delete', cart, {method: :delete, class: "style"} %></td>
    <% end %>
  </div>
    </div>
</div>
</div>
