<h1 class= "section-heading" style="align-items: 'center'; background-color: 'grey';color:orange;font-size:100%;font-family:'Contrail One',cursive;">Orders</h1>




<%= render 'form', cart: @cart %>
<%= link_to 'Back', products_path %>
