<td colspan="2"><h1>New User Sign Up</h1></td>
<form method="post">
 <table>
 <tr>

 <tr>
  <label for="name">UserName:</label>
  <input name="name" type="text" class="input" />
 </tr>
 <tr>
  <label for="email">Email Address:</label>
  <input name="email" type="text" class="input" />
 </tr>
 <tr>

 <td><label>password</label><input name="password" type="password" />
   <input type="submit" id="submit" /></td>

</form>
