
<% if user %>
<h1><%= user.first %>'s Profile</h1>
<% if user.photo.url || !me %>
<img src="<%= user.photo.url %>" width="200px">
<% else %>
<form action='/profile' method="POST" enctype="multipart/form-data">
  <input type="file" name="photo">
  <button type="submit">UPLOAD</button>
</form>
<% end %>
<% end %>

  <% @reviews.each do |review| %>
  <div class="review">
    <h3><%= review.event.name %></h3>
    <p><%= review.content %></p>
  </div>
  <%end%>

<% if me %>
  <form action='/users/me/delete' method="POST">
    <button type="submit">delete profile</button>
  </form>
<% end %>
