<h1 class= "section-heading" style="color:orange;font-size:500%;font-family:'Contrail One',cursive;">New Line Item</h2>

<%= render 'form', line_item: @line_item %>

<%= link_to 'Back', line_items_path %>
